In [1]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive/Crime_Data"
!ls

Mounted at /content/drive
Boston.csv  Los_Angeles.csv  San_Fransisco.csv	Seattle.csv
Boston.csv  drive  Los_Angeles.csv  sample_data  San_Fransisco.csv  Seattle.csv

In [2]:
import pandas as pd

df_boston = pd.read_csv("/content/drive/My Drive/Crime_Data/Boston.csv")
df_Los_Angeles = pd.read_csv("/content/drive/My Drive/Crime_Data/Los_Angeles.csv")
df_San_Fransisco = pd.read_csv("/content/drive/My Drive/Crime_Data/San_Fransisco.csv")
df_Seattle = pd.read_csv("/content/drive/My Drive/Crime_Data/Seattle.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,2,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_boston.shape

(359035, 17)

In [4]:
df_Los_Angeles.shape

(495410, 28)

In [5]:
df_San_Fransisco.shape

(598515, 34)

In [6]:
df_Seattle.shape

(982779, 17)

# Data Cleaning

In [7]:
#df_San_Fransisco.describe()
#df_San_Fransisco.info()
df_San_Fransisco.columns

Index(['Incident Datetime', 'Incident Date', 'Incident Time', 'Incident Year',
       'Incident Day of Week', 'Report Datetime', 'Row ID', 'Incident ID',
       'Incident Number', 'CAD Number', 'Report Type Code',
       'Report Type Description', 'Filed Online', 'Incident Code',
       'Incident Category', 'Incident Subcategory', 'Incident Description',
       'Resolution', 'Intersection', 'CNN', 'Police District',
       'Analysis Neighborhood', 'Supervisor District', 'Latitude', 'Longitude',
       'Point', 'Neighborhoods', 'ESNCAG - Boundary File',
       'Central Market/Tenderloin Boundary Polygon - Updated',
       'Civic Center Harm Reduction Project Boundary',
       'HSOC Zones as of 2018-06-05', 'Invest In Neighborhoods (IIN) Areas',
       'Current Supervisor Districts', 'Current Police Districts'],
      dtype='object')

In [8]:
df_San_Fransisco = df_San_Fransisco[['Incident Datetime', 'Incident Date', 'Incident Time', 'Incident Year', 'Incident Number', 'Incident Day of Week', 
                                     'Incident Category', 'Intersection', 'Latitude', 'Longitude']]

In [9]:
df_San_Fransisco.rename(
    columns={"Incident Datetime":"date_time",
              "Incident Date":"date",
              "Incident Time":"time",
              "Incident Year":"year",
              "Incident Number":"id",
              "Incident Day of Week":"dow",
              "Incident Category":"cat",
              "Intersection":"address",
              "Latitude":"lat",
              "Longitude":"long",},
      inplace=True)

In [10]:
df_San_Fransisco['month'] = pd.DatetimeIndex(df_San_Fransisco['date_time']).month
df_San_Fransisco.head()

,date_time,date,time,year,id,dow,cat,address,lat,long,month
0,2019/03/05 09:00:00 PM,2019/03/05,21:00,2019,196048512,Tuesday,Larceny Theft,UNITED NATIONS PLZ \ LEAVENWORTH ST,37.779992,-122.413487,3
1,2018/12/22 12:00:00 PM,2018/12/22,12:00,2018,180971777,Saturday,Motor Vehicle Theft,LINDEN ST \ BUCHANAN ST,37.775787,-122.427819,12
2,2018/08/24 05:30:00 PM,2018/08/24,17:30,2018,180639339,Friday,Larceny Theft,PERU AVE \ BURROWS ST,37.723944,-122.422830,8
3,2018/10/20 03:10:00 PM,2018/10/20,15:10,2018,180624631,Saturday,Warrant,BOARDMAN PL \ BRYANT ST,37.775161,-122.403636,10
4,2019/06/05 12:36:00 AM,2019/06/05,00:36,2019,190403077,Wednesday,Other Offenses,LOMBARD ST \ NEWELL ST,37.802755,-122.413623,6

In [11]:
df_San_Fransisco
df_San_Fransisco.to_csv('San_Fransisco.csv', index=False)

In [12]:
df_San_Fransisco.shape

(598515, 11)

In [ ]:
df_Los_Angeles = df_Los_Angeles[['DR_NO', 'Date Rptd', 'TIME OCC','Crm Cd Desc','LOCATION', 'LAT','LON']]

In [ ]:
df_Los_Angeles.rename(
    columns={"Date Rptd":"date_time",
              "TIME OCC":"time",
              "DR_NO":"id",
              "Crm Cd Desc":"cat",
              "LOCATION":"address",
              "LAT":"lat",
              "LON":"long",},
      inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_Los_Angeles['date'] = pd.DatetimeIndex(df_Los_Angeles['date_time']).date
df_Los_Angeles['month'] = pd.DatetimeIndex(df_Los_Angeles['date_time']).month
df_Los_Angeles['year'] = pd.DatetimeIndex(df_Los_Angeles['date_time']).year
df_Los_Angeles['dow'] = pd.to_datetime(df_Los_Angeles['date_time']).dt.day_name()

#df_Los_Angeles['time'] = pd.DatetimeIndex(df_Los_Angeles['time']).time

df_Los_Angeles.head()

,id,date_time,time,cat,address,lat,long,date,month,year,dow
0,10304468,01/08/2020 12:00:00 AM,2230,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.0141,-118.2978,2020-01-08,1,2020,Wednesday
1,190101086,01/02/2020 12:00:00 AM,330,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.0459,-118.2545,2020-01-02,1,2020,Thursday
2,191501505,01/01/2020 12:00:00 AM,1730,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.1685,-118.4019,2020-01-01,1,2020,Wednesday
3,191921269,01/01/2020 12:00:00 AM,415,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.2198,-118.4468,2020-01-01,1,2020,Wednesday
4,200100501,01/02/2020 12:00:00 AM,30,"RAPE, FORCIBLE",700 S BROADWAY,34.0452,-118.2534,2020-01-02,1,2020,Thursday

In [ ]:
df_Los_Angeles
df_Los_Angeles.to_csv('Los_Angeles.csv', index=False)

In [ ]:
df_Seattle.columns

Index(['Report Number', 'Offense ID', 'Offense Start DateTime',
       'Offense End DateTime', 'Report DateTime', 'Group A B',
       'Crime Against Category', 'Offense Parent Group', 'Offense',
       'Offense Code', 'Precinct', 'Sector', 'Beat', 'MCPP', 'Location',
       'Longitude', 'Latitude'],
      dtype='object')

In [ ]:
df_Seattle = df_Seattle[['Report Number', 'Offense Start DateTime', 'Offense', 'Location', 'Longitude', 'Latitude' ]]

In [ ]:
df_Seattle.rename(
    columns={"Offense Start DateTime":"date_time",
              "Report Number":"id",
              "Offense":"cat",
              "Location":"address",
              "Longitude":"lat",
              "Latitude":"long",},
      inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_Seattle['date'] = pd.DatetimeIndex(df_Seattle['date_time']).date
df_Seattle['month'] = pd.DatetimeIndex(df_Seattle['date_time']).month
df_Seattle['year'] = pd.DatetimeIndex(df_Seattle['date_time']).year
df_Seattle['dow'] = pd.to_datetime(df_Seattle['date_time']).dt.day_name()
df_Seattle['time'] = pd.DatetimeIndex(df_Seattle['date_time']).time

df_Seattle.head()

,id,date_time,cat,address,lat,long,date,month,year,dow,time
0,2020-044620,2/5/2020 10:10,Drug/Narcotic Violations,100 Block Address,-122.385974,47.649387,2020-02-05,2.0,2020.0,Wednesday,10:10:00
1,2020-044452,2/3/2020 8:00,Theft of Motor Vehicle Parts or Accessories,32XX BLOCK OF 23RD AVE W,-122.323399,47.675118,2020-02-03,2.0,2020.0,Monday,08:00:00
2,2020-044465,2/2/2020 20:30,Robbery,63XX BLOCK OF 5TH AVE NE,-122.299552,47.666384,2020-02-02,2.0,2020.0,Sunday,20:30:00
3,2020-044225,2/5/2020 1:17,Destruction/Damage/Vandalism of Property,26TH AVE NE / NE BLAKELEY ST,-122.384865,47.642927,2020-02-05,2.0,2020.0,Wednesday,01:17:00
4,2020-044076,2/5/2020 0:51,Driving Under the Influence,22XX BLOCK OF W RAYE ST,-122.366195,47.662193,2020-02-05,2.0,2020.0,Wednesday,00:51:00

In [ ]:
df_Seattle
df_Seattle.to_csv('Seattle.csv', index=False)

In [ ]:
df_boston = df_boston[['INCIDENT_NUMBER','OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'OFFENSE_DESCRIPTION', 'STREET', 'Lat', 'Long']]

In [ ]:
df_boston.rename(
    columns={"OCCURRED_ON_DATE":"date_time",
              "HOUR":"time",
              "MONTH":"month",
              "YEAR":"year",
              "INCIDENT_NUMBER":"id",
              "DAY_OF_WEEK":"dow",
              "OFFENSE_DESCRIPTION":"cat",
              "STREET":"address",
              "Lat":"lat",
              "Long":"long",},
      inplace=True)

In [ ]:
df_boston.isnull().sum()

id              0
date_time       0
year            0
month           0
dow             0
time            0
cat             0
address      2297
lat          6429
long         6429
dtype: int64

In [ ]:
df_boston['date'] = pd.DatetimeIndex(df_boston['date_time']).date
df_boston['time'] = pd.DatetimeIndex(df_boston['date_time']).time

df_boston.head()

,id,date_time,year,month,dow,time,cat,address,lat,long,date
0,I192077559,4/30/2018 9:00,2018,4,Monday,09:00:00,INVESTIGATE PERSON,HAZLETON ST,42.279971,-71.095534,2018-04-30
1,I192077332,3/6/2018 8:00,2018,3,Tuesday,08:00:00,LARCENY ALL OTHERS,HYDE PARK AVE,42.269224,-71.120853,2018-03-06
2,I192076660,10/31/2018 12:00,2018,10,Wednesday,12:00:00,HARASSMENT,PRIMROSE ST,42.290765,-71.130211,2018-10-31
3,I192075386,4/9/2018 8:43,2018,4,Monday,08:43:00,HARASSMENT,ATLANTIC AVE,42.355264,-71.050988,2018-04-09
4,I192075335,1/1/2018 0:00,2018,1,Monday,00:00:00,PROPERTY - MISSING,COMMONWEALTH AVE,42.353522,-71.072838,2018-01-01

In [ ]:
df_boston
df_boston.to_csv('Boston.csv', index=False)